nav {
  width: 100%;

  color: white;
  user-select: none;

  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  background-color: rgba(73, 73, 73, 0.168);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .left,
  .right {
    display: flex;
    gap: 1.5rem;
  }
}
