* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-image: url('/public/mac-wallpaper.jpg');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  overflow: hidden;
}

body{
  background-color: #222;
}